@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  cursor: default;
}

.right {
  background-image: linear-gradient(to bottom, #242424, #121212);
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d transparent;
}

/* Custom scrollbar for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-progress-value {
  background: black;
}

*::-webkit-progress-bar {
  background: #c4c4c4; /* Lighter color for the background line */
}